<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502538905752-3uju2de5d9ri7agp33jhnq8am3tbep5k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502538905752-3uju2de5d9ri7agp33jhnq8am3tbep5k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>502538905752-s37v27j33ks5piep7pd0763782ct2h56.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9XlRHWdfw1eVtwFynfZ_96vsytRL4e_k</string>
	<key>GCM_SENDER_ID</key>
	<string>502538905752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.darthRunner</string>
	<key>PROJECT_ID</key>
	<string>darth-runner</string>
	<key>STORAGE_BUCKET</key>
	<string>darth-runner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502538905752:ios:f76aa14661927404dfc8ed</string>
</dict>
</plist>